@use '../../styles/tools';

.s-aspect-ratio {
  @include tools.reset-inherited;
  overflow: hidden;
  border-radius: var(--s-radius-md);

  &__content > :where(img, video, iframe) {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
