@use '../../styles/tools';
.s-breadcrumb__list {
  @include tools.reset-inherited;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--s-space-1);
  padding: 0;
  margin: 0;
  font-size: var(--s-font-size-sm);
  list-style: none;
}

.s-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: var(--s-space-1);
}

.s-breadcrumb__link {
  color: var(--s-color-text-muted);
  text-decoration: none;
  border-radius: var(--s-radius-sm);

  &:hover {
    color: var(--s-color-text);
    text-decoration: underline;
  }
}

.s-breadcrumb__text {
  color: var(--s-color-text-muted);
}

.s-breadcrumb__current {
  font-weight: var(--s-font-weight-medium);
  color: var(--s-color-text);
}

.s-breadcrumb__separator {
  display: inline-flex;
  color: var(--s-color-text-subtle);
}
